* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    height: 65px;
    line-height: 65px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
/* header */
.logo {
    padding-top: 15px;
    width: 60px;
}
.nav-ul {
    float: right;
}
.nav-ul li {
    float: left;
    padding-left: 45px;
    color: #a3a3a3;
}
.nav-ul__item a {
    display: inline-block;
    height: 65px;
    color: #a3a3a3;
}
.nav-ul li:nth-child(2) {
    padding-left: 60px;
}
.nav-ul__item a:hover {
    color: #75d7a2;
    border-bottom: 2px solid #75d7a2;
}
/* footer */
.footer {
    height:320px;
    background-color: #202020;
}
.footer-top {
    height: 290px;
}
.footer-left {
    float: left;
    width: 900px;
    height: 290px;
    padding: 40px 20px 40px 80px;
    box-sizing: border-box;
}
.footer-nav {
    width: 720px;
    height: 200px;
}
.footer-nav__item {
    float: left;
    padding-left: 60px;
}
.footer-nav__item:first-child {
    padding-left: 0;
}
.footer-ul a,
.footer-right__ul a{
    color: #cccccc;
}
.footer-ul li,
.footer-right__ul li{
    padding-top: 20px;
}
.footer-ul li:first-child,
.footer-right__ul li:first-child {
    padding-bottom: 40px;
}
.footer-right {
    float: left;
    width: 270px;
    height: 290px;
    padding: 40px 20px 40px 80px;
    box-sizing: border-box;
}
.footer-right__ul li {
    padding-left: 30px;
    border-left: 1px solid #cccccc;
}
.footer-right__ul li:first-child {
    border: 0;
}
.footer hr {
    color: #cccccc;
}
.footer-bottom {
    height: 30px;
    line-height: 30px;
}
.footer-bottom span {
    color: #cccccc;
    padding-left: 80px;
    box-sizing: border-box;
    font-size: 8px;
    float: left;
}
.footer-bottom__ul {
    font-size: 8px;
    color: #cccccc;
    float: right;
    padding-right: 150px;
}
.footer-bottom__ul li {
    float: left;
}